<template>
  <v-container id="all-articles-list">
    <v-row>
      <section class="col-md-11 mx-auto mb-5">
        <ul class="my-5 px-5 py-5">
          <li
            id="all-articles-date-author"
            class="mb-3"
          >{{ post.date | formatDate }} - {{ post.author }}</li>
          <li class="section-image">
            <div id="all-articles-images" class="mb-4">
              <v-img :src="post.image" height="200"></v-img>
            </div>
          </li>
          <li class="mb-2">
            <h3>{{ post.title }}</h3>
          </li>
          <li class="text-justify">{{ post.content | readMore(200, '...') }}</li>
          <li class="text-center pt-4">
            <router-link :to="{name: 'OneArticle', params: {id: post.id}}">Lire l'article</router-link>
          </li>
        </ul>
      </section>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "AllArticlesList",
  components: {},
  props: {
    post: Object
  }
};
</script>

<style lang="scss">
$green: #60ca60d8;
$green-dark: #449644;
$black: #000000;
$grey: #525252be;

#all-articles-list {
  ul {
    list-style: none;
    padding: 0;
    transform: scale(1.1);
    box-shadow: 1px 1px 10px $grey;

    #all-articles-date-author,
    a {
      color: $green-dark;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 15px;
    }
  }
}
</style>